aside {
  position: fixed;
  right: 20px;
  display: flex;
  /*height: 100px;*/
  width: 117px;
  background-color: #00171F;
  color: #FFFFFF;
  font-family: 'Roboto Mono', monospace;
  font-size: 13px;
  padding: 4px 5px 4px 4px;
}
