.item-listing {
  height: 400px;
  width: 70%;
  background-color: #F5F5F5;
  overflow-y: scroll;
  margin: 20px auto;
}

.item-listing > li {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #FFFFFF;
  margin: 20px auto;
  width: 300px;
  box-shadow: 1px 1px 2px 0px black;
  transition: color 0.3s;
}

.item-listing > li:hover {
  color: #00A7E1;
}

li > img {
  height: 300px;
  width: 300px;
}

li > p {
  font-size: 30px;
}

@media screen and (max-width: 828px) {
  .item-listing > li {
    width: 200px;
  }

  li > img {
    height: 200px;
    width: 200px;
  }

  li > p {
    font-size: 20px;
  }
}

@media screen and (max-width: 552px) {
  .item-listing > li {
    width: 150px;
  }

  li > img {
    height: 150px;
    width: 150px;
  }

  li > p {
    font-size: 15px;
  }
}
